* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 800vh;
  font-family: "Space Grotesk", serif;
  overflow-x: hidden;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
nav {
  position: absolute;
  top: 0;
  width: 100vw;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
.nav-items {
  flex: 1;
}

nav a {
  text-decoration: none;
  color: #111;
  letter-spacing: -0.02em;
}

.nav-items {
  display: flex;
  justify-content: center;
  gap: 2em;
}
section {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.hero {
  background: url("https://images.unsplash.com/photo-1728112265403-a4aebd5859a5?w=1920&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDExfENEd3V3WEpBYkV3fHxlbnwwfHx8fHw%3D")
    no-repeat 50% 50%;
  background-size: cover;
}
.outro {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}
.outro p {
  color: #ded8c8;
  font-size: 30px;
  letter-spacing: -0.005em;
}

.sticky {
  position: relative;
  background-color: #ded8c8;
}
.sticky-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 250vw;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform;
}
.sticky-header h1 {
  margin: 0;
  color: #000;
  font-size: 30vw;
  font-weight: lighter;
  line-height: 100%;
  letter-spacing: -0.09em;
  white-space: nowrap;
}
.card {
  position: absolute;
  top: 10%;
  left: 100%;
  width: 250px;
  height: 350px;
  background-color: #000;
  border-radius: 1em;
  padding: 0.5em;
  will-change: transform;
  z-index: 2;
}
.card .card-img {
  width: 100%;
  height: 150px;
  border-radius: 0.5em;
  overflow: hidden;
}
.card .card-content {
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  padding: 0.5em;
}

.card .card-content h2 {
  font-size: 24px;
  font-weight: lighter;
  letter-spacing: -0.005em;
}

.card .card-content p {
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: -0.005em;
}

@media (max-width: 900px) {
  .nav-items {
    justify-content: flex-end;
  }
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
